@import './fonts.css';
@import './font-sizes.css';
.theGlobalLoader {

    z-index: 499999;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%; 
    background-color:rgba(255,255,255,.08);
    top: 0;
    margin-top: 0;
}

.activeGlobalLoader {


    width: 100%;
    height: 100%; 
}

.theGlobalLoaderImg {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
}
#inflate {

    position: fixed;
    bottom: 50px;
    z-index: 500000;
    right: 10px;
    width: 300px;
    min-height: 0;
    background: transparent;
}

.errorBase {

    position: fixed;
    z-index: 1560;
    width: 100%;
    height: 100%;
    margin-top: 0;
    top: 0;
    left: 0;
    overflow-y: scroll;
    background-color: rgba(22,160,133,.95);
    transition: all .3s;
    display: none;
}

#errorHeader {

    width: 100%;
    position: relative;
    padding: 0 8px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: black;
}

.showErros{

    position: relative;
    padding: 20px 0;
    width: 500px;
    color: white;
    font-size: 16px;
    margin: auto;

}

.activateErrors {
    margin-top: 0px !important;
}


.theDownloadLoader {

    z-index: 499;
    position: fixed;
    width: 100%;
    height: 100%; 
    background-color:rgba(0,0,0,.9);
    top: 0;
    margin-top: 0;
    display: none;
}
.theDownloadLoaderContent {

    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 

}
.required {
    color: red !important;
}


.pageSideBar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.pageSideBar a {
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: 0.3s;
}

.pageSideBar a:hover {
    color: #f1f1f1;
}
.pageSideBar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.note-editor .dropdown-toggle::after {
    all: unset;
}
.note-editor .note-dropdown-menu, .note-editor .note-modal-footer {
    box-sizing: content-box;
}

.note-editor.note-airframe.fullscreen, .note-editor.note-frame.fullscreen {
    z-index: 3020;
    background-color: #f5f5f5;
}

.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable {
    background-color: #f5f5f5;
}
.note-editable {
  padding-bottom: 60px !important;
  min-height: 140px;
  cursor: text;
}
.note-editable p:empty::before {
  content: '\200B';
}
@import './Cropper.css';